.footer
  &-wrap
    background: $main-dark
    padding-top: 54px
    padding-bottom: 52px
  &__list
    list-style: none
    padding: 0
    margin: 0
    margin-right: 80px
    &-wrap
      display: flex
      align-items: flex-end

      margin-bottom: 12px
  &__item
    margin-bottom: 30px
  &__link
    +medium
    color: $white
    font-size: 18px
    text-decoration: none
  &-social
    &__icon
      fill: $white
    &__list
      display: flex
      align-items: center

      list-style: none
      padding: 0
      margin: 0
    &__item
      margin-right: 34px 