.btn
  background-color: transparent
  border: none

  padding: 0
.hero
  &__link
    +extraBold
    display: block
    max-width: 170px
    margin: 0 auto

    font-size: 16px
    color: $white
    text-decoration: none

    background: $main-dark
    padding: 27px 17px