.btn
  background-color: transparent
  border: none
  text-decoration: none

  padding: 0

@media (max-width: 320px)
  .hero
    &__link
      +extraBold
      display: block
      max-width: 170px
      margin: 0 auto

      font-size: 16px
      font-weight: bold
      color: $white
      text-decoration: none

      background: $main-dark
      padding: 27px 17px
  .promo
    &__link
      +extraBold
      display: block
      max-width: 150px
      margin: 0 auto

      font-size: 16px
      font-weight: bold
      color: $white
      text-decoration: none

      background: $main-dark
      padding: 24px 35px