@media (max-width: 7680px)
  .menu-social
    display: flex
    justify-content: space-between
    align-items: flex-end
    padding: 70px 0 0
    &__wrap
      display: flex
    &__link
      display: block

      text-decoration: none
      +medium
      font-size: 14px
      color: $main-dark
      &--fb
        margin-left: 35px

@media (max-width: 320px)
  .menu-social
    display: none